h1 {
  color: #206a5d;
}

body {
  background-color: #ebecf1;
  color: #1b1c25;
}

#container {
  display: flex;  /* establish flex container */
  flex-direction: row; /* make main axis horizontal */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;  /* center items horizontally, in this case */
}

.box {
  width: 100%;
  margin: 5px;
  text-align: center;  /* will center text in <p>, which is not a flex item */
}
